{% extends "pipeline/base.html" %}

{% block content %}
<style>
    .status-live {
    color: green;
}

.status-offline {
    color: red;
}

</style>
<h2>Agent List</h2>
<a class="nav-link" href="{% url 'add_agent' %}" class="btn btn-primary">Add Agent</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Operating System</th>
            <th>Last Heartbeat</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for agent in agents %}
        <tr>
            <td>{{ agent.hostname }}</td>
            <td>{{ agent.ip_address }}</td>
            <td>{{ agent.operating_system }}</td>
            <td>{{ agent.last_heartbeat|date:"DATETIME_FORMAT" }}</td>
            <td class="{% if agent.live %}status-live{% else %}status-offline{% endif %}">
                {% if agent.live %}
                    Live
                {% else %}
                    Offline
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
