{% extends 'pipeline/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Detail</title>

</head>
<body>
    <div class="container">
        <h1>{{ application.name }}</h1>
        <p>project : {{ application.project}}</p>
        <!-- Add more details as needed -->

        <a href="{% url 'application_list' %}" class="back-link">Back to Applications</a>
    </div>
<h2>Pipelines:</h2>
<ul class="pipeline-list">
    {% for pipeline in pipelines %}
        <li style="text-decoration: none;"><a href="{% url 'pipeline_detail' pipeline.id %}">{{ pipeline.name }}</a></li>
    {% endfor %}
</ul>

    
</body>
</html>
{% endblock %}