{% extends 'pipeline/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Global Credential Detail</h1>
    <div class="card">
        <div class="card-body">
            <p><strong>Name:</strong> {{ credential.service_name }}</p>
            <p><strong>Username:</strong> {{ credential.username }}</p>
            <p><strong>Password:</strong> *********</p> <!-- Masked password -->
            <!-- Add other fields as needed -->
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'global_credential_update' credential.pk %}" class="btn btn-primary mr-2">Update</a>
        <a href="{% url 'global_credential_delete' credential.pk %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}
