{% extends 'pipeline/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Create/Update Global Credential</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.service_name.label_tag }}
            {{ form.service_name }}
        </div>
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <!-- Add other form fields as needed -->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
