{% extends 'pipeline/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Local Credentials</h1>
    <ul class="list-group mb-4">
        {% for credential in credentials %}
        <li class="list-group-item">
            <a href="{% url 'local_credential_detail' credential.pk %}">{{ credential.service_name }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'local_credential_create' project_id=project_id %}" class="btn btn-primary">Create New Credential</a>
</div>
{% endblock %}
