{% extends 'pipeline/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Pipelines of Project: {{ project.name }}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'pipeline_create' project.id %}">Create Pipeline</a>
    <ul class="list-group">
        {% for pipeline in pipelines %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'pipeline_detail' pipeline.id %}">{{ pipeline.name }}</a>
                <div class="actions">
                    <a href="{% url 'pipeline_update' project.id pipeline.id %}" class="btn btn-sm btn-primary mr-2">Edit</a>
                    <a href="{% url 'pipeline_delete' project.id pipeline.id %}" class="btn btn-sm btn-danger delete-btn">Delete</a>
                    <a href="{% url 'run_pipeline' pipeline.id %}" class="btn btn-sm btn-success ml-2">Run</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- The Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are you sure you want to delete this pipeline?</p>
        <button id="confirmDelete" class="btn btn-danger modal-button">Yes, delete it</button>
        <button id="cancelDelete" class="btn btn-secondary modal-button">Cancel</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById("deleteModal");
        var span = document.getElementsByClassName("close")[0];
        var confirmDeleteBtn = document.getElementById("confirmDelete");
        var cancelDeleteBtn = document.getElementById("cancelDelete");
        var deleteButtons = document.querySelectorAll('.delete-btn');

        deleteButtons.forEach(function(btn) {
            btn.addEventListener('click', function() {
                pipelineId = this.getAttribute('data-id');
                modal.style.display = "block";
            });
        });

        span.onclick = function() {
            modal.style.display = "none";
        }

        cancelDeleteBtn.onclick = function() {
            modal.style.display = "none";
        }

        confirmDeleteBtn.onclick = function() {
            window.location.href = `/projects/${project.id}/pipelines/${pipelineId}/delete/`;
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>
{% endblock %}
